@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pushster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	height: 100%;
  /* zoom: 95%; */
  background-color: #EBEBEB !important;
}

.slick-dots {
  bottom: 20px !important;
}

.cross:hover {
  color: #fb923c;
}

.cross::after {
  content: '';
  display: block;
  width: 0;
  padding: 0;
  height: 2px;
  background-color: #fb923c;
  transition: width .2s;
  left: 0;
  right: 0;
  bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  position: absolute;

}

.cross:hover::after {
  width: 95%;
  transition: width .2s;
}

.activeNav {
  color: #fb923c;

}

.activeNav::after{
  content: '';
  display: block;
  width: 95%;
  padding: 0;
  height: 2px;
  background-color: #fb923c;
  transition: width .2s;
  left: 0;
  right: 0;
  bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  position: absolute;
}

.catEl:active, .catEl:focus{
  font-size: 30px;
}

.ant-layout-sider-children .img{
  margin: 16px;
  padding: 5px;;
  background-color: white;
  opacity: 0.7;
}
.ant-layout-sider-children .img .logo {
  height: 32px;
  background: url("https://images.static-thomann.de/pics//images/logos/thomann-cyan-black.svg") no-repeat scroll right center white;
  
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-switch {
  background-color:#B9B9B9;
}

.ant-switch-checked {
  background: #1890ff;
}

.ant-btn-primary {
  color: #fff;
  border-color: #1890ff;
  background: #1890ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}